:root {
  --primary-color: black;
  --secondary-color: #a5a5a5;
  --third-color: white;
}

* {
  box-sizing: border-box;
}

.html {
  font-size: 16px;
}

body {
  max-width: 101.687rem;
  margin-inline: auto;
}
/* HERO SECTION */

.hero {
  width: 101.687rem;
  height: 57rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4.375rem;
  box-shadow: 0px 3px 6px #00000029;
}

.header__logo {
  color: #08a6e4;
  font-size: 2rem;
  font-weight: 300;
  font-family: raleway;
  text-decoration: none;
  margin-left: 8.5rem;
}

.nav__menu {
  margin-right: 8.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__links {
  display: inline-block;
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
  letter-spacing: 0.205rem;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 0.6875rem;
  margin: 40px;
  padding-top: 1.6875rem;
  padding-bottom: 1.6875rem;
}

.nav__links:hover {
  color: var(--primary-color);
  border-bottom: 4px solid #08a6e4;
}

.hero__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__hdg {
  font-size: 3.062rem;
  font-family: raleway;
  color: var(--primary-color);
  font-weight: normal;
  padding-top: 8.125rem;
}

.p__primary {
  color: var(--primary-color);
  font-size: 1rem;
  font-family: "Open Sans";
  margin-top: 1.25rem;
}

.btn {
  font-family: "Open Sans";
}

.btn__hero {
  border-radius: 2.5rem;
  background-color: #08a6e4;
  padding: 1.375rem 9.812rem;
  font-size: 1rem;
  color: var(--third-color);
  box-shadow: 5px 10px 14px #07ace629;
  border: none;
  margin-top: 2.375rem;
}

.hero__img {
  width: 100%;
}

/* STATISTICS SECTION */

.statistic_sct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 33.187rem;
  width: 100%;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.stats__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6.25rem;
}

.hdg2__primary {
  font-family: raleway;
  font-weight: normal;
  font-size: 2.25rem;
  color: var(--primary-color);
  margin-top: 6.25rem;
}

.p--number {
  font-family: raleway;
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.3725rem;
}

.p--sdescribtion {
  color: var(--secondary-color);
  font-family: raleway;
  font-size: 1.0625rem;

  /* display: flex;
  flex-wrap: wrap; */
}

.circle {
  width: 3.9375rem;
  height: 3.9375rem;
  border-radius: 50%;
}

.img1 {
  background-color: #fb3b64;
}

.img2 {
  background-color: #08a6e4;
}

.img3 {
  background-color: #55dfb4;
}

.img__container {
  position: relative;
}

.stats svg {
  position: absolute;
  left: 50%;
}

/* BLOG SECTION */

.blog_sct {
  background-color: #f7f7f7;
  width: 100%;
  height: 87.1875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.312rem;
}

.blog__container {
  display: flex;
  flex-direction: row;
  background-color: var(--third-color);
  height: 23.125rem;
  width: 70.25rem;
}

.blog__container__diff {
  gap: 61px;
  display: flex;
  flex-direction: row;
}

.img__bcontainer_diff {
  background-color: #55dfb4;
  height: 23.125rem;
  width: 27.5rem;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  position: relative;
}

.text___bcontainer_diff {
  height: 23.125rem;
  width: 38.937rem;
  background-color: var(--third-color);
  padding-left: 2.187rem;
  padding-right: 1.25rem;
}

.text___bcontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 2.187rem;
  padding-right: 1.25rem;
  flex-wrap: wrap;
  width: 50%;
  /* padding-top: 91px;
  padding-bottom: 91px; */
}

.hr1 {
  border: 4px solid #fb3b64;
  width: 70%;
  margin-right: 30%;
}

.hr2 {
  border: 4px solid #08a6e4;
  width: 70%;
  margin-right: 30%;
}

.hr3 {
  border: 4px solid #55dfb4;
  width: 70%;
  margin-right: 30%;
}

.img__bcontainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  position: relative;
}

.img-macbook {
  width: 24.125rem;
  height: 13.687rem;
  z-index: 1;
  position: relative;
}

.img-iphone {
  width: 26.625rem;
  height: 20.5rem;
  position: relative;
  z-index: 1;
}

.img-trumpet {
  width: 18.437rem;
  height: 12.937rem;
  position: absolute;
  top: 30%;
  right: 20%;
  z-index: 1;
}

.element-bcg1 {
  width: 11.25rem;
  height: 11.25rem;
  border-radius: 2.562rem;
  background: #fb3b64 0% 0% no-repeat padding-box;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: absolute;
  top: 38px;
  right: 71px;
  z-index: -1;
}

/* PRICING SECTION */

.pricing {
  height: 43.625rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 58px;
}

.pricing__box {
  width: 23.25rem;
  height: 28.812rem;
  border-radius: 1.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.red {
  border: 1px solid #fb3b64;
}

.blue {
  border: 1px solid #07ace6;
  height: 500px;
  width: 405px;
  box-shadow: 5px 10px 27px #07ace629;
}

.green {
  border: 1px solid #55dfb4;
}

.title-basic {
  font-size: 20px;
  font-family: raleway;
  font-weight: bold;
  color: var(--primary-color);
  padding-bottom: -15px;
}

.price-first {
  color: #fb3b64;
  font-size: 46px;
  font-family: "open sans";
  font-weight: 300;
}

.price-second {
  color: #07ace6;
  font-size: 46px;
  font-family: "open sans";
  font-weight: 300;
  text-align: center;
}

.price-third {
  color: #55dfb4;
  font-size: 46px;
  font-family: "open sans";
  font-weight: 300;
}

.list {
  text-align: center;
  font: normal normal normal 14px/41px "Open Sans";
}

.list p {
  margin: 0px;
}

.pricing_btn {
  color: var(--third-color);
  height: 50px;
  width: 150px;
  border-radius: 23px;
  position: absolute;
  bottom: -25px;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 30%;
}

.first {
  background-color: #eb476e;
}

.second {
  background-color: #07ace6;
}

.third {
  background-color: #55dfb4;
}

/* FORMS SECTION */

.section-forms {
  height: 608px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__form {
  display: flex;
  flex-direction: row;
  height: 379px;
  width: 896px;
}

.text__fbox {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact_details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.h3_form {
  font-size: 49px;
  font-family: raleway;
  font-weight: normal;
  padding-top: 0px;
  padding-bottom: 22px;
  margin: 0px;
}

.p_form {
  font-size: 1rem;
  font-family: "Open Sans";
  padding-bottom: 40px;
}

.contact_details p {
  font-size: 1rem;
  font-family: "Open Sans";
  color: var(--secondary-color);
  padding-inline: 10px;
  margin: 0;
}
/* FOOTER */

footer {
  height: 5.562rem;
  width: 101.687rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 8.5rem;
  box-shadow: 0px -5px 40px #00000029;
}

.p-companyinfo {
  color: var(--secondary-color);
  font-size: 0.687rem;
  font-weight: normal;
  font-family: "Open Sans";
}

.ftr {
  margin-left: 0rem;
  font-size: 1.625rem;
}

.company-social {
  display: flex;
  gap: 20px;
}
